body {
  background-color: #C0DEFF;
}
h1 {
    color: #85586F;
}
h3 {
    color: #4FA095;
}
hr {
  background-color: #C0DEFF;
  border-style: none;
  border-top-style: dotted;
  border-color: #1a120b;
  border-width: 5px;
  width: 20%;
}
